broker.id={{ broker_id }}
log.dirs={{ log_dirs }}

# Listener configurations
listeners=PLAINTEXT://{{ ansible_host }}:{{ kafka_port }},CONTROLLER://{{ ansible_host }}:9093
advertised.listeners=PLAINTEXT://{{ ansible_host }}:{{ kafka_port }}
listener.security.protocol.map=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT

# Controller listener name
controller.listener.names=CONTROLLER

# KRaft mode properties
process.roles=broker,controller
node.id={{ broker_id }}
controller.quorum.voters={{ broker_id }}@{{ ansible_host }}:9093
