broker.id=1

# Listeners
listeners={{ kafka_listeners }}

# Log directories
log.dirs={{ kafka_log_dirs }}

# Enable KRaft mode
mode=kraft

# Metadata log directory for storing Kafka metadata and UUID
metadata.log.dir={{ kafka_metadata_log_dir }}

# Other standard Kafka configurations
zookeeper.connect=  
