[Unit]
Description=Finnhub Kafka Producer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/finnhub_producer.py
Restart=always
User=root
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
