[Unit]
Description=Kafka Producer Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/kafka_producer.py
WorkingDirectory=/opt
Restart=always
User=ubuntu
Group=utuntu

[Install]
WantedBy=multi-user.target
