import time
import requests
from kafka import KafkaProducer
import json

# Kafka producer setup
producer = KafkaProducer(
    bootstrap_servers='{{ kafka_host }}:9092',
    value_serializer=lambda v: json.dumps(v).encode('utf-8')
)

# Visual Crossing Weather API setup
API_KEY = "N9QJNA6A4HB8FTKQ3URMAGBQS"
VISUALCROSSING_URL = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/meerut"

def fetch_weather_data():
    try:
        response = requests.get(
            VISUALCROSSING_URL,
            params={"unitGroup": "metric", "key": API_KEY, "contentType": "json"}
        )
        response.raise_for_status()
        data = response.json()
        return data
    except requests.RequestException as e:
        print(f"Error fetching data from Visual Crossing: {e}")
        return None

if __name__ == "__main__":
    while True:
        data = fetch_weather_data()
        if data:
            producer.send("FINNhub", data)  
            producer.flush()
            print(f"Data sent to Kafka topic 'FINNhub': {data}")
        time.sleep(10)  # Wait 10 seconds before fetching data again
